.cmpnLogo {
  margin-bottom: 111px;

  &__cont {
    & .swiper {
      &-slide {
        cursor: pointer;
      }

      & .quantan,
      .aiirtelia {
        filter: grayscale(100%);
      }

      &-img {
        & img {
          max-width: 241px;
          width: 100%;
          height: auto;
          display: block;
          object-fit: contain;
        }
      }
    }
  }

  // media Query 1024
  @include smallDesktop {
    margin-bottom: 5rem;

  }

  //  media Query 768
  @include largeMobile {

    &__cont {
      margin-bottom: 4rem;
    }
  }

  //  media Query 480
  @include mobile {
    margin-bottom: 4rem;


    & .swiper {
      &-slide {
        width: 250px;
        @include d-flex(row, center, center);
      }

      &-img {
        max-width: 100%;

        & img {
          width: 250px;
        }
      }
    }
  }
}