.categ {
  margin-bottom: 156px;
  background-image: url("/assets/images/bg-plusImg.svg");
  background-repeat: no-repeat;
  background-position: left 100% top -26%;

  &__cont {
    position: relative;
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
    color: $primary-color;
    font-weight: $fw-semibold;
  }

  &__heading {
    margin-bottom: 66px;
    text-align: center;
    color: $secondary-color;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px;
  }

  &__card {
    width: 100%;
    padding: 2.25rem 1.5rem;
    height: auto;
    border-radius: 1.5rem;
    @include d-flex(column, center, flex-start);
    text-align: center;
    transition: 0.3s ease;
    position: relative;
    background: $white;
    z-index: 1;
    transition: 0.3s ease;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    &:hover {
      transition: 0.3s ease;
      box-shadow: rgba($black, 0.35) 0px 5px 15px;

      &::after {
        content: "";
        position: absolute;
        bottom: -33px;
        left: -35px;
        background: $light-red;
        max-width: 100px;
        width: 100%;
        height: 100px;
        border-radius: 30% 0 10% 0;
        z-index: -1;
        mix-blend-mode: soft-light;
      }
    }
  }

  &__cardTitle {
    font-size: 1.25rem;
    font-weight: $fw-semibold;
    font-family: $font-Opan-sans;
    color: $light-blue;
    margin-bottom: 15px;
  }

  &__cardTop {
    position: relative;
  }

  &__icon {
    height: 70px;
    @include d-flex-center;
    margin-bottom: 1.25rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 40px;
      max-width: 50px;
      width: 100%;
      height: 49px;
      background: $light-pink;
      z-index: -1;
      border-radius: 10% 20% 40% 10%;
    }

    & img {
      max-height: 70px;
      width: auto;
      height: 100%;
      display: block;
    }

    &--plane {
      & img {
        max-width: 128px;
      }

      &::after {
        top: 10px;
        left: -10px;
        border-radius: 10% 20% 42% 40%;
      }
    }

    &--mike {
      & img {
        max-width: 40px;
      }

      &::after {
        top: -6px;
        left: 16px;
        border-radius: 10% 42% 10% 40%;
      }
    }

    &--setting {
      & img {
        max-width: 50px;
      }

      &::after {
        top: 16px;
        left: 30px;
        border-radius: 10% 10% 10% 40%;
      }
    }
  }

  // media Query 1024

  @include smallDesktop {
    margin-bottom: 100px;

    &__wrap {
      margin-bottom: 5rem;
    }

    &__inner {
      grid-template-columns: repeat(2, 1fr);
      max-width: 700px;
      margin-inline: auto;
      padding-inline: 0.75rem;
    }

    &__heading {
      margin-bottom: 3rem;
    }
  }

  @include largeMobile {
    margin-bottom: 80px;

    &__wrap {
      margin-bottom: 3rem;
    }

    &__heading {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &__inner {
      grid-template-columns: repeat(2, 1fr);
      padding-inline: 0.75rem;
      max-width: 620px;
      margin-inline: auto;
    }

    &__card {
      z-index: 1;
      mix-blend-mode: soft-light;
      width: 100%;

      &:hover {
        &::after {
          bottom: -10px;
          left: -10px;
          z-index: 1;
        }
      }
    }
  }

  // media Query 480
  @include mobile {
    margin-bottom: 3rem;

    &__wrap {
      margin-bottom: 2rem;
    }

    &__title {
      margin-bottom: 0.75rem;
      font-size: 1rem;
    }

    &__heading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__inner {
      max-width: 267px;
      gap: 1rem;
      width: 100%;
      margin: 0 auto;
      @include d-flex(column, center, flex-start)
    }

    &__card {
      &:hover {
        &::after {
          bottom: -10px;
          left: -10px;
        }
      }
    }
  }

}