.destntns {
  position: relative;
  margin-bottom: 170px;

  &__title {
    text-align: center;
    margin-bottom: 8px;
    color: $primary-color;
    position: relative;
  }

  &__heading {
    text-align: center;
    margin-bottom: 60px;
  }

  &__cont {
    &::after {
      content: url("/assets/images/detination-right.webp");
      position: absolute;
      bottom: 62px;
      right: 17px;
      z-index: -999;
      max-width: 96px;
      height: 252px;
    }
  }

  & .swiper {
    max-width: 1134px;
    width: 100%;
    padding-inline: 2rem;
    position: relative;

    &-wrapper {
      @include d-flex(row, center, space-between);
    }

    &-slide {
      border-radius: 1.5rem;
      z-index: 999;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      max-width: 340px;
      width: 100%;
      margin-bottom: 1rem;
      background-color: $white;
      cursor: pointer;
    }

    &-pagination {
      display: none;
    }

    &-inner {
      padding: 0 25px 42px 20px;
      z-index: 999;
    }

    &-img {
      margin-bottom: 27px;
      width: 100%;
      height: auto;

      & img {
        border-radius: 1.5rem 1.5rem 0 0;
        max-width: 330px;
        display: block;

      }

      &-btmIcon {
        & img {
          max-width: 18px;
          display: block;
        }
      }
    }

    &-content {
      @include d-flex(row, center, space-between);
      gap: 0.5rem;
      margin-bottom: 18px
    }

    &-btm {
      @include d-flex(row, center, flex-start);
      gap: 15px;
    }
  }

  // media queries 
  @include mobile {
    margin-bottom: 5rem;

    &__title {
      font-size: 1rem;
    }

    &__heading {
      margin-bottom: 3rem;
    }
  }

  // media queries
  @include largeMobile {
    margin-bottom: 3rem;

    &__heading {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    & .swiper {

      &-prize,
      &-contry,
      &-days {
        font-size: 1rem;
      }

      &-inner {
        padding: 0 25px 42px 16px;
      }

    }
  }

  @include smallDesktop {
    margin-bottom: 3rem;

    &__title {
      margin-bottom: 0.75rem;
      font-size: 1rem;
    }

    &__heading {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    & .swiper {
      &-inner {
        padding: 0 16px 42px 16px;
      }

    }
  }
}