// colors 
$primary-color: #5E6282;
$secondary-color: #14183E;
$tertiary-color: #181E4B;
$black: #000000;
$dark-black: #080809;
$light-black: #212832;
$light-blue: #1E1D4C;
$dim-gray: #39425D;
$white: #FFFFFF;
$light-red: #DF6951;
$light-yellow: #F1A501;
$dark-gray: #686D77;
$purple: #8A79DF;
$light-pink: #FFF1DA;
$Dodger-Blue: #006380;
$White-Smoke: #F5F5F5;
$Steel-Blue: #59B1E8;
$cyan: #59B1E6;
$liner-gradient: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
$btn-gradient: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);


// font-family
$font-Opan-sans: "Open Sans", sans-serif;
$font-Volkhov: "Volkhov", serif;
$font-Poppins: "Poppins", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;